<div class="header">
<div class="panel-tasks">
  <div class="panel-tasks__button-create-list button-top"
    (click)='switchButtonBetweenLists($event.target.className)'  
  >Create list</div>
  <div class="panel-tasks__button-my-lists button-top"
    (click)='switchButtonBetweenLists($event.target.className)'
  >My lists</div>
</div>
<div class="block-for-create-list">
  <div class="block-for-create-list__title-that-block">
    Creating list
  </div>
  <hr>
  <div class="block-for-create-list__block-for-inputs">
    <div class="block-for-create-list__container-inputs">
      <input type="text"
      placeholder="Word..." 
      [(ngModel)]='dataInputs.word'
      id="word"
      class="block-for-create-list__input-word">
      <input type="text"
      placeholder="Translate..." 
      [(ngModel)]='dataInputs.translate'
      class="block-for-create-list__input-translate">
    </div>    
  </div>
  <div class="block-for-create-list__container-button">
    <button class="block-for-create-list__button-add-word"
      (click)='addWordInWordsInList()'
      [disabled]='dataInputs.word==="" || dataInputs.translate===""'
    >
      Add word
    </button>
  </div>
  <hr>
</div>
<div class="block-created-list" *ngIf='dataCreateList?.wordsInList.length != 0'>
  <div class="block-created-list__title-that">
    Created list
  </div>
  <div class="block-created-list__block-for-input-name-list">
    <input type="text" 
      class="block-created-list__input-name-list"
      [(ngModel)]='dataCreateList.nameList'
      placeholder="Name list..."
    >
  </div>
  <div class="block-created-list__block-for-list">
    <div class="block-created-list__element-lists"
      *ngFor='let data of dataCreateList?.wordsInList; let i = index'
    >
      <div class="block-created-list__word">
        {{i+1}}. {{data.word}} - {{data.translate}}
      </div> 
      <div class="block-created-list__buttons">
        <i class="fa fa-pencil-square-o" aria-hidden="true"  ></i>
        <i class="fa fa-trash" aria-hidden="true" (click)='deleteWordFromList(data)'></i>
      </div>
    </div>
  </div>
  <button class="block-created-list__create-list"
    [disabled]='dataCreateList.nameList===""'
    (click)='createList()'
  >
    Create list
  </button>
</div>
<div class="block-where-will-be-list" *ngIf='dataCreateList?.wordsInList.length === 0'>
  HERE WILL BE LIST
</div>