.panel-tasks{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  rgba(60, 255, 0, 0.3);

    &__button-create-list{
        width: auto;
        height: auto;
        padding: 7px 100px;
        border-bottom: 3px solid gray;
        font-family: Ubuntu, sans-serif;
        font-weight: 100;
        font-size: 15px;
        color: rgb(97, 97, 97);
        cursor: pointer;
        
        &:hover{
            color: black;
        }
    }

    &__button-my-lists{
        width: auto;
        height: auto;
        padding: 7px 100px;
        font-family: Ubuntu, sans-serif;
        font-weight: 100;
        font-size: 15px;
        color: rgb(97, 97, 97);
        border-bottom: 3px solid rgb(216, 216, 216);
        cursor: pointer;

        &:hover{
            color: black;
        }
    }
}

.block-for-create-list{
    width: 100%;
    height: auto;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__title-that-block{
        width: 100%;
        height: auto;
        font-family: Ubuntu, sans-serif;
        font-weight: 100;
        font-size: 30px;
        text-align: center;
        color: gray;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__container-inputs{
        width: 30%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__block-for-inputs{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__input-word{
        width: 27%;
        min-width: 270px;
        height: auto;
        padding: 7px 15px;
        font-size: 17px;
        border-radius: 10px;
        border: 2px solid gray;
        outline: none;
        margin: 15px 0px;

        &:focus{
            border-color: rgb(0, 173, 0);
        }
    }

    &__input-translate{
        width: 27%;
        min-width: 270px;
        height: auto;
        padding: 7px 15px;
        font-size: 17px;
        border-radius: 10px;
        border: 2px solid gray;
        outline: none;
        margin: 15px 0px;

        &:focus{
            border-color: rgb(0, 173, 0);
        }
    }

    &__container-button{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__button-add-word{
        width: auto;
        height: auto;
        padding: 7px 30px;
        margin: 15px 10%;
        border: 2px solid rgb(248, 81, 81);
        font-family: Ubuntu, sans-serif;    
        color: rgb(97, 97, 97);
        background: white;
        font-weight: 400;
        font-size: 15px;
        border-radius: 10px;
        outline: none;
        cursor: pointer;

        &:hover:not([disabled]){
            background: rgb(250, 118, 118);
            color: white;
            cursor: pointer;
        }

        &:disabled{
            color: lightgray;
        }

        &:focus{
            background: rgb(250, 118, 118);
            color: white;
            cursor: pointer;
        }
    }
}

.block-created-list{
    width: 100%;
    height:auto;
    padding: 0px 0px;
    display: flex;
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    &__title-that{
        width: 100%;
        height: auto;
        font-family: Ubuntu, sans-serif;
        font-weight: 100;
        font-size: 30px;
        text-align: center;
        color: gray;
    }

    &__block-for-input-name-list{
        width: 100%;
        height: auto;
        padding: 20px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__input-name-list{
        width: 30%;
        height: auto;
        padding: 5px 10px;
        outline: none;
        border: none;
        border-bottom: 2px solid rgb(57, 57, 57);
        color: gray;
        font-family: sans-serif;
        font-weight: 100;
        font-size: 20px;
        text-align: center;

        &:focus{
            border-bottom: 2px solid rgb(79, 185, 255);
        }
    }

    &__block-for-list{
        width: 100%;
        height: auto;
        padding: 40px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__element-lists{
        width: 60%;
        height: auto;
        padding: 12px 15px;
        background: rgba(0,0,0,0.03);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid lightgray;

        &:hover{
            background: rgba(0,0,0,0.05)
        }
    }

    &__word{
        color: rgb(51, 51, 51);
        font-family: Ubuntu, sans-serif;
        font-weight: 100;
        font-size: 17px;
        word-spacing: 5px;
    }

    &__buttons{
        width: auto;
        height: auto;
    }

    &__create-list{
        width: auto;
        height: auto;
        padding: 7px 30px;
        font-family: Ubuntu, sans-serif;
        font-size: 15px;
        color: rgb(97, 97, 97);
        border: 1px solid rgb(0, 173, 0);
        border-radius: 10px;
        background: white;
        outline: none;
        cursor: pointer;

        &:hover:not([disabled]){
            background: rgba(0, 173, 0, 0.644);
            color: white;
        }

        &:focus:not([disabled]){
            background: rgba(0, 173, 0, 0.644);
            color: white;
        }
    }
}

.block-where-will-be-list{
    width: 40%;
    min-width: 320px;
    height: auto;
    padding: 150px 0px;
    border: 3px dashed rgb(79, 185, 255);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    font-size: 25px; 
    color: gray;
    margin-bottom: 60px;
}

.fa{
    padding: 1px 5px;
    line-height: 1;
    color: rgb(71, 71, 71);
    cursor: pointer;
}

.fa-pencil-square-o:hover{
    color: rgb(0, 173, 0);
}

.fa-trash:hover{
    color: rgb(248, 81, 81)
}

hr{
    width: 40%;
    height: 1px;
    display: block;
    margin: 30px 0px;
    border: none;
    background: rgb(161,161,161);
}

